.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

button {
  background: black;
  color: white;
  border: none;
  padding: 5px;
}

button:hover {
  background: coral;
  color: black;
  cursor: pointer;
}


